venv/
venv311/
__pycache__/
*.pyc
*.pyo
	../venv_py312/

.DS_Store
backend/vit-finetuned-waste/
backend/vit-finetuned-waste-broken/
*.egg-info/
.env
*.sqlite3
*.db
media/
venv_py312/
__pycache__/
db.sqlite3
