{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BinWise AI - Waste Classifier</title>
    <style>
        *{
            background-color: aquamarine;
        }
        #hero{
            height: 300px;
            width: auto;
        }
        .footer img {
            width: 50px;
            height: 50px;
        }

        .footer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 40vw;
        }
    </style>
</head>
<body>
    <header>
        <h1>BinWise</h1>
    </header>

    <main>
        <div class="icon">
            <img id="hero" src="{% static 'images/download.png' %}" alt="">
        </div>
        <div id="classify">
            <button id="classifyBtn">Classify Image</button>
        </div>
        <div>
            <input type="file" id="imageInput" accept="image/*">

        </div>

        <div id="previewContainer" style="margin-top:20px;">
            <img id="imagePreview" src="" alt="Image Preview" width="250"
                 style="display:none; border:1px solid #ccc; padding:5px;">
        </div>

        <div id="result" style="margin-top:20px;">
            <p><strong>Bin:</strong> <span id="bin"></span></p>
            <p><strong>Category:</strong> <span id="category"></span></p>
            <p><strong>Explanation:</strong> <span id="explanation"></span></p>
            <p><strong>Confidence:</strong> <span id="confidence"></span></p>
        </div>
    </main>

    <footer class="footer" style="margin-top:40px;">
        <div><img src="{% static 'images/home.jpeg' %}" alt=""></div>
        <div><img src="{% static 'images/photo.jpeg' %}" alt=""></div>
        <div><img src="{% static 'images/upload.jpeg' %}" alt=""></div>
    </footer>

    <!-- app.js must load before frontend_ui.js -->
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/frontend_ui.js' %}"></script>
</body>
</html>